@import "../node_modules/bootstrap/scss/bootstrap-reboot.scss";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/jumbotron";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/input-group";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/card";

$pale-blue-theme: #DBEFFF;
$grey-border: 1px solid #778899;
$dark-indigo: #4766AB;

.square-btn {
    font-size: 12px;
    padding: 4.5px 9px;
    border-radius: 0;
}

.square-btn:hover {
    background-color: $pale-blue-theme;
    color: black;
}

.oval-btn {
    border-radius: 20px;
    width: 90%;
    height: 30px;
    padding: 0;
}

.oval-btn:hover {
    transform: scale(1.02);
}

.border-wrapper {
    border: $grey-border;
    padding: 20px;
    margin: 20px;
    width: auto;
}

.field {
    border: $grey-border;
    margin-top: 3rem;
    border-radius: 0;
}

.field:focus {
    background-color: $pale-blue-theme;
}


.field::placeholder {
    font-size: .9rem;
    padding: 8px;
}

.auth-field {
    border: $grey-border;
    padding: 5px;
    width: 100%;
    
}

.auth-field:focus {
    background-color: $pale-blue-theme;
}

.wrapper {
    width: 30%;
    margin: auto;
}

.heading {
    background-color: $pale-blue-theme;
    padding: 20px;
}

.content {
    padding: 20px;
}

.border-only {
    border: $grey-border;
}

.title {
    margin: 15px 0;
}

.text-center {
    text-align: center;
}

.small-text {
    font-size: 12px;
}

.event-title {
    font-weight: bold;
}

.link {
    margin-top: 10px;
    font-size: .75rem;
}

.input-group-append {
    margin-top: 3rem;
}

.interest-selector {
    background-color: $dark-indigo;
    border-color: $dark-indigo;
}

.interest-selector:hover {
    background-color: $dark-indigo;
    border-color: $dark-indigo;
    transform: scale(1.02);
}

.profile-field {
    border: $grey-border;
    margin-top: 1rem;
    border-radius: 0;
}

.profile-field:focus {
    background-color: $pale-blue-theme;
}

.profile-field::placeholder {
    font-size: .9rem;
    padding: 8px;
}

.avatar {
    margin: .5rem 0;
}

.profile-set-up {
    margin-top: 1rem;
}